@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl {
    direction: rtl !important;
  }
  
  .ltr {
    direction: ltr !important;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}